<footer class="py-3 border-top mt-5">
    <div class="container">
        <div class="row g-4 align-items-start">
            <div class="col-12 col-md-7">
                <p class="fw-semibold mb-4">{{ site.title }}</p>
                <p class="text-secondary mb-0">{{ site.description }}</p>
            </div>

            <div class="col-12 col-md-5">
                <ul class="list-unstyled d-flex flex-line gap-4 mb-0">
                    <li>
                        <a class="footer-link" href="{{ '/' | relative_url }}">Accueil</a>
                    </li>
                    <li>
                        <a class="footer-link" href="{{ '/catalogue.html' | relative_url }}">Catalogue</a>
                    </li>
                    <li>
                        <a class="footer-link" href="{{ '/a-propos.html' | relative_url }}">À propos</a>
                    </li>
                    <li>
                        <a class="footer-link" href="{{ '/contact.html' | relative_url }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>