<article class="product-card h-100">
    <a
        class="text-decoration-none d-flex flex-column h-100"
        href="{{ include.product.url | relative_url }}">

        {% if include.product.image %}
            <img
                class="product-card__image"
                src="{{ include.product.image | relative_url }}"
                alt="{{ include.product.title }}"
                width="640"
                height="480"
                loading="lazy">
        {% endif %}

        <div class="p-4 d-flex flex-column gap-3 h-100">
            <h2 class="h5 mb-0 text-white">
                {{ include.product.title }}
            </h2>

            {% if include.product.description %}
                <p class="text-white mb-0">
                    {{ include.product.description }}
                </p>
            {% endif %}
        </div>
    </a>
</article>