<!DOCTYPE html>
<html lang="fr" data-theme="classique">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">

    <link
        rel="stylesheet"
        href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- <script>
        const savedTheme = localStorage.getItem("site-theme");

        if (savedTheme) {
            document.documentElement.setAttribute("data-theme", savedTheme);
        }
    </script> -->

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">

    <meta name="google-site-verification" content="4mJtm_l8oWJsnw74a7yiHU7MGTuaNWsq0h44kTqyJ7A" />
    <meta name="robots" content="index, follow">
</head>
<body class="site-body">
    <a href="{{ '/' | relative_url }}" class="back-home" title="Retour à l'accueil">
        ←
    </a>
    <a
        class="visually-hidden-focusable position-absolute top-0 start-0 m-4 px-4 py-3 rounded bg-light text-dark"
        href="#main-content">
        Aller au contenu
    </a>

    {% include header.html %}

    <main class="{% if page.layout == 'product' %}main-product{% else %}container{% endif %}">
        {{ content }}
    </main>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>